/target
Cargo.lock
.*
!.gitignore
!.gitlab-ci.yml
*.deb
cargo_home/
cargo_registry/
/debian/tmp/
/debian/photodedupe/
/debian/debhelper-build-stamp
/debian/files
/debian/photodedupe.substvars
/debian/*.log
!.cargo/config.toml
