source: photodedupe
Maintainer: kazantsev mikhail <kazan417@mail.ru>

Package: photodedupe
Version: 1.0.1
Priority: optional
Section: utils
Architecture: amd64
Depends: libc6 (>= 2.34), libgcc-s1 (>= 4.2)
Homepage: https://github.com/InexplicableMagic/photodedupe
Description: Identifies duplicate photos regardless of scale or file format.
 Photodedupe is a command line utility for identifying duplicate photos 
 regardless of whether the images have been scaled or have differing
 file formats. It compares the image content visually and does not rely
 on metadata or file hashes to perform the de-duplication.
